@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #05080b;
  position: relative;
  padding-top: 80px;
  background-size: cover;
  background-position: top;
  background-image: url("../../assets/images/bg.png");
  color: #dcdcec;
  font-family: Poppins;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-direction: row;
}
.col-8 {
  flex: 0.7;
}
.col-4 {
  flex: 0.3;
}
.col-5 {
  flex: 0.45;
}
.col-7 {
  flex: 0.55;
}
.col-12 {
  flex: 1;
}
.col {
  flex: 1;
}

.color-border {
  position: relative;
  background-color: #0b0819;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 18px;
  margin: 20px;
}
.color-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 18px;
  padding: 1px;
  background: linear-gradient(180deg, #46425e, rgba(0, 0, 0, 0));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.d-inline-block {
  display: inline-block;
  vertical-align: text-top;
}
.pl-1 {
  padding-left: 1rem;
}
@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
